<% include dashboard-header %>
            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- DATA TABLE -->
                                <h3 class="title-5 m-b-35">Orders</h3>
                                <div class="table-data__tool">
                                    <div class="table-data__tool-left">
                                        <form action="/dashboard/orders" method="GET" name="stateFilter">
                                            <div class="rs-select2--light rs-select2--md">
                                                <select 
                                                    class="js-select2"
                                                    name="state"
                                                    onchange="document.forms['stateFilter'].submit()"
                                                    id="stateSelector"
                                                >
                                                    <option value="-1" name="-1">Chưa xử lý</option>
                                                    <option value="0" name="0">Đang xử lý</option>
                                                    <option value="1" name="1">Đã giao hàng</option>
                                                </select>
                                                <div class="dropDownSelect2"></div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="table-responsive table-responsive-data2">
                                    <table class="table table-data2">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <label class="au-checkbox">
                                                        <input type="checkbox">
                                                        <span class="au-checkmark"></span>
                                                    </label>
                                                </th>
                                                <th>Thông tin khách hàng</th>
                                                <th>Chi tiết đơn hàng</th>
                                                <th>Ngày đặt</th>
                                                <th>Trạng thái</th>
                                                <th class="text-center">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody id="data-table">
                                            <% for(order of locals.orders) { %>
                                            <tr class="tr-shadow">
                                                <td>
                                                    <label class="au-checkbox">
                                                        <input type="checkbox">
                                                        <span class="au-checkmark"></span>
                                                    </label>
                                                </td>
                                                <td>
                                                    <span
                                                        class="block-email" 
                                                        data-toggle="popover" 
                                                        data-original-title="<%= order.user.fullname %> (<%= order.user.phone %>)"
                                                        data-trigger="focus"
                                                        data-content="<%= order.user.address %>"
                                                        tabindex="0"
                                                        data-placement="top"
                                                        style="cursor: pointer; background-color: #007bff; color: white">
                                                    Xem địa chỉ
                                                    </span>
                                                </td>
                                                <td>
                                                    <span 
                                                        class="block-email"
                                                        data-toggle="modal" data-target="#<%= order.id %>"
                                                        style="cursor: pointer; background-color: #856404; color: white">Xem chi tiết</span>
                                                </td>
                                                <td>
                                                    <%= order.date %>
                                                </td>
                                                <td class="desc"></td>
                                                <td class="text-center">
                                                    <% if(locals.state !== '1') { %>
                                                    <button 
                                                        class="btn btn-info"
                                                        onclick="acceptOne('<%= order.id %>')">
                                                        <% if(locals.state === '-1') { %>Tiếp nhận xử lý
                                                        <% } else { %> Đã xử lý <% } %>
                                                    </button>
                                                    <% } %>
                                                    <button class="btn btn-danger" onclick="removeOne('<%= order.id %>')">Xóa đơn hàng</button>
                                                </td>
                                                
                                            </tr>
                                            <tr class="spacer"></tr>
                                            <% } %>
                                        </tbody>
                                    </table>
                                </div>
                                
                                <!-- END DATA TABLE -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Order Detail Modal -->
    <% for(order of locals.orders) { %>
    <div class="modal fade" id="<%= order.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Chi tiết đơn hàng</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Tên sản phẩm</th>
                  <th scope="col">Số lượng</th>
                </tr>
              </thead>
              <tbody>
                <% for(item of Object.values(order.summary)) { 
                %>
                    <tr>
                        <td>
                            <a href="/single/<%= item.product.name + '.' + item.product._id %>" style="color: blue">
                                <%= item.product.name %>
                                <span>(size: <%= item.size %>, color: <%= item.color %>)</span>
                            </a>
                        </td>
                        <td><%= item.quantity %></td>
                    </tr>
                <% } %>
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <% } %>

    <!-- Jquery JS-->
    <script src="/vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS-->
    <script src="/vendor/slick/slick.min.js"></script>
    <script src="/vendor/wow/wow.min.js"></script>
    <script src="/vendor/animsition/animsition.min.js"></script>
    <script src="/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="/vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="/vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <!-- <script src="/vendor/chartjs/Chart.bundle.min.js"></script> -->
    <script src="/vendor/select2/select2.min.js">
    </script>
    <script src="/js/dropzone.js"></script>

    <!-- Main JS-->
    <script src="/js/main.js"></script>
    <script>
        $("[data-toggle=popover]").popover();

        function acceptOne(id) {
            fetch(`/dashboard/orders/${id}`, {
                method: 'PATCH'
            }).then(() => location.reload());
        }

        function removeOne(id) {
            return confirm('Chắc chắc muốn xóa đơn hàng này?') && fetch(`/dashboard/orders/${id}`, {
                method: 'DELETE'
            }).then(() => location.reload());
        }

        const stateSelector = document.getElementById('stateSelector');
        stateSelector[parseInt('<%= state %>') + 1].selected = true;
        document.getElementById('select2-stateSelector-container').innerHTML = stateSelector[parseInt('<%= state %>') + 1].innerHTML;
        document.getElementById('select2-stateSelector-container').title = stateSelector[parseInt('<%= state %>') + 1].innerHTML;
        for(element of document.getElementsByClassName('desc')) {
            element.innerHTML = stateSelector[parseInt('<%= state %>') + 1].innerHTML;
        }
    </script>
    <% include dashboard-footer %>
</body>

</html>
<!-- end document-->
