<% include header %>
    <!-- ##### Single Product Details Area Start ##### -->
    <div class="container">
        <section class="single_product_details_area d-flex align-items-center">

            <!-- Single Product Thumb -->
            <div class="single_product_thumb clearfix">
                <div class="product_thumbnail_slides owl-carousel">
                    <% let single = products.find(product => product.id === locals.id); 
                        for(image of single.image) { %>
                            <img src="<%= image %>" alt="">
                    <% } %>
                </div>
            </div>

            <!-- Single Product Description -->
            <div class="single_product_desc clearfix">
                <span><%= single.categories %></span>
                <a href="cart.html">
                    <h2><%= single.name.toUpperCase() %></h2>
                </a>
                <p class="product-price"><span class="old-price">$65.00</span> <%= priceAnal(single.price) %></p>
                <p class="product-desc">Mauris viverra cursus ante laoreet eleifend. Donec vel fringilla ante. Aenean finibus velit id urna vehicula, nec maximus est sollicitudin.</p>

                <!-- Form -->
                <form class="cart-form clearfix" method="post" name="addtocartForm">
                    <!-- Select Box -->
                    <div class="select-box d-flex mt-50 mb-30">
                        <select name="size" class="mr-5">
                            <% (new Set(single.option.map(item => item.size))).forEach(size => { %>
                                <option value="<%= size %>">Size: <%= size %></option>
                            <% }) %>
                        </select>
                        <select name="color">
                            <% (new Set(single.option.map(item => item.color))).forEach(color => { %>
                                <option value="<%= color %>">Color: <%= color %></option>
                            <% }) %>
                        </select>
                    </div>
                    <!-- Cart & Favourite Box -->
                    <div class="cart-fav-box d-flex align-items-center">
                        <!-- Cart -->
                        <button type="submit" name="addtocart" class="btn essence-btn">thêm vào giỏ hàng</button>
                        <!-- Favourite -->
                        <div class="product-favourite ml-4">
                            <a href="#" class="favme fa fa-heart" onclick="return false"></a>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
    <!-- ##### Single Product Details Area End ##### -->
    <section class="new_arrivals_area section-padding-80 clearfix">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center">
                        <h2>Popular Products</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="popular-products-slides owl-carousel">
                        
                        <% for(product of locals.products) { %>
                        <!-- Single Product -->
                        <div class="single-product-wrapper">
                            <!-- Product Image -->
                            <div class="product-img">
                                <img src="<%= product.image[0] %>" alt="">
                                <!-- Hover Thumb -->
                                <img class="hover-img" src="<%= product.image[1] %>" alt="">
                                <% for(badge of product.badge) { %>
                                <div class="product-badge <%= badge %>">
                                    <span>New</span>
                                </div>
                                <% } %>
                                <!-- Favourite -->
                                <div class="product-favourite">
                                    <a href="#" class="favme fa fa-heart"></a>
                                </div>
                            </div>
                            <!-- Product Description -->
                            <div class="product-description">
                                <span><%= product.categories %></span>
                                <a href="single-product-details.html">
                                    <h6 style="text-transform:capitalize"><%= product.name %></h6>
                                </a>
                                <p class="product-price"><%= priceAnal(product.price) %></p>

                                <!-- Hover Content -->
                                <div class="hover-content">
                                    <!-- Add to Cart -->
                                    <div class="add-to-cart-btn">
                                        <a href="/single/<%= product.id %>"
                                            class="btn essence-btn"
                                        >
                                        chi tiết
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="js/plugins.js"></script>
    <!-- Classy Nav js -->
    <script src="js/classy-nav.min.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>
    <script>
        document.addtocartForm.addEventListener('submit', function(ev) {
            ev.preventDefault();
            const form = ev.target;
            let data = [...Array(form.length - 1)].reduce((a, _, index) => {
                let input = form[index];
                a[input.name] = input.value;
                return a;
            }, {});
            const href = location.href.split('/');
            data = {...data, id: href[href.length -1]}
            fetch('/cart', {
                method: 'POST',
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(data)
            }).then(res => res.json())
              .then(data => location.reload());
        }, false);
    </script>
<% include footer %>
